@import '../variables/variablesForLightTheme.scss';
@import '../variables/mainVariables.scss';

.main-button {
  @extend .ordinary-button;
  background: transparent;
  color: $lightTheme-main-text-color;
}

.numbers,
.operations-background {
  background: $lightTheme-main-buttons-background;
}

.equal-button {
  background: $lightTheme-operation-button-background;
}

#equal:hover {
  cursor: $main-cursor-type-for-buttons;
}
#equal:active {
  background: $darkTheme-main-buttons-hover-background;
}

.numbers:hover {
  cursor: $main-cursor-type-for-buttons;
}

.numbers:active {
  background: $lightTheme-main-buttons-hover-background;
}

.operation:hover {
  cursor: $main-cursor-type-for-buttons;
}

.operation:active {
  background: $lightTheme-operation-button-background;
}
