@import '../variables/mainVariables.scss';
@import '../variables/variablesForLightTheme.scss';

.calculator__history {
  width: 423px;
  height: 523px;
  background: $lightTheme-control-buttons-background;
  border-radius: $border-radius;
  animation: elementExpandUp 0.5s forwards;
  color: $lightTheme-main-text-color;
  overflow-y: auto;
  &_title {
    margin-left: 82px;
  }
  &_item {
    display: flex;
    text-align: right;
    padding: 15px 30px;
    height: 72px;
    margin: 30px;
    border: 5px solid $lightTheme-input-text-color;
    border-radius: 40px;
    word-wrap: break-word;
    cursor: $main-cursor-type-for-buttons;
    .fa-circle-xmark {
      line-height: 70px;
      font-size: 30px;
      margin-left: auto;
      padding-left: 15px;
    }
    .fa-circle-xmark:hover {
      color: $lightTheme-input-text-color;
    }
    .fa-circle-xmark:active {
      font-size: 25px;
      color: $lightTheme-input-text-color;
    }
    .calculator__history_item-container {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      .calculator__history_item-container-expression {
      }
      .calculator__history_item-container-result {
        margin-top: 10px;
        text-overflow: ellipsis;
        margin-right: auto;
      }
    }
  }
  &_item:active {
    box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 1);
  }
}

.calculator__history::-webkit-scrollbar {
  width: 0px;
}
.calculator__history_item-container::-webkit-scrollbar {
  width: 0px;
}

@keyframes elementExpandUp {
  0% {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
  }
  100% {
    width: 100%;
    transform-origin: left;
    transform: scaleX(1);
  }
}

.history-item-enter {
  opacity: 0;
}
.history-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.history-item-exit {
  opacity: 1;
}
.history-item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
