$lightTheme-main-background: linear-gradient(
  166.34deg,
  rgb(254, 254, 254) 0%,
  rgb(249, 249, 249) 12.84%,
  rgb(243, 243, 243) 32.53%,
  rgb(229, 229, 229) 100%
);
$lightTheme-control-buttons-background: linear-gradient(
  0deg,
  rgba(202, 229, 247) 0%,
  rgba(163, 219, 251) 22.9%,
  rgba(145, 217, 253) 100%
);
$lightTheme-main-text-color: rgb(55, 55, 55);
$lightTheme-input-text-color: rgba(55, 55, 55, 0.5);

$lightTheme-main-buttons-background: rgb(227, 242, 254);
$lightTheme-main-buttons-hover-background: rgba(227, 242, 254, 0);

$lightTheme-operation-button-background: rgb(138, 216, 255);
